nav.navbar{
    position:absolute;
    width:100%;
    z-index: 999;
}
nav.navbar.transparent{
    background-color:transparent;
    box-shadow:none;
}
nav.navbar.dark{
    background-color:#6c0018;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.navbar-brand{
    display:flex;
    align-items:center;
    gap:10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}
.nav-end{
    display:flex;
    align-items: center;
    gap:10px;
}
.nav-link{
    color:#fff !important;
    font-size:1em;
    font-weight:500;
}
@media screen and (max-width:768px) {
    nav.navbar{
        position:fixed;
        top:0;
        left:0;
        background-color:#6c0018 !important;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:20px;
        z-index: 999;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .nav-end{
        margin-top: 10px;
    }

}